input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  input[type=submit] {
  background-color: rgb(190, 208, 215);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: end;
  }
  
  
  input[type=submit]:hover {
    background-color: #8ba38c;
  }
  #employeesIdTable{
    margin-top: 60px;
  }
  #employeeIdEditTable{
    margin-top: 60px;

  }
  
  .employees {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    color: black;
    text-align: left;
  }
  .form__button{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    /* text-align: center; */
    
  }
  .employees__heading {
    border-bottom: 1px solid black;
  }

  .errorMessage{
    color :red;
  }
  #form-back-button{
    background-color: rgb(186, 195, 199);
    color: black;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: end;
  }
  #form-back-button:hover {
    background-color: #8ba38c;
  }
 